

footer {
  margin-top: 15px;
  font-size: .92rem;
  .container {
    display: grid;
    padding: 8px;
  }
  .footer__about-project {
    a {
      display: inline;
      text-decoration: underline;
      &:hover {
        color: dodgerblue;
      }
    }
  }
  .social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 360px;
    margin: auto;
    width: 100%;
    .social__icon {
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }
}

.footer__copyright {
  padding: 7px;
    text-align: center;
  a {
    
    display: inline;
  }
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
