<footer class="footer">
  <div class="container">
    <div class="footer__about-project">
      <h4 class="text-center">About This Project</h4>
      <p>
        The purpose of this project was to convert the CompTIA Security+ SY0-501 Exam Objectives
        <a href="https://certification.comptia.org/docs/default-source/exam-objectives/comptia-security-sy0-501-exam-objectives.pdf?sfvrsn=2">pdf</a> into a more user friendly and mobile responsive web format. I'd like to thank
        <a href="https://www.professormesser.com/">Professor Messer</a> and the
        <a href="https://www.reddit.com/r/CompTIA/"> r/CompTIA</a> community for helping me earn my CompTIA certifications.
      </p>
    </div>
    <div class="footer__about-me">
      <h4 class="text-center">About Me</h4>
      <p>My name is Xavier Trinidad and I am an aspiring web developer. I enjoy learning new things. Contact me if you have
        any feedback or suggestions</p>
      <ul class="social">
        <li *ngFor="let social of SOCIAL_ICONS">
          <a class="social__icon mat-elevation-z2" [style.backgroundColor]="social.color" href="{{social.link}}">
            <i class="fa {{social.icon}}" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright">
    <div>
      <a href="https://xmtrinidad.github.io/AngularPortfolio"> Xavier Trinidad 2017</a>
    </div>
  </div>
</footer>
