/** DEFAULT STYLES **/

img {
    height: 120px;
}
h3 {
  padding: 0;
  margin: 0;
}

.side-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.side-nav__title {
  padding: 5px 0;
}

.section a {
  cursor: pointer;
  border-bottom: 1px solid #BDBDBD;
  color: #212121;
  font-weight: bold;
  height: 90px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-gap: 15px;
  align-items: center;
  i {
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
