<div class="side-nav" [@menuState]="navService.menuState">
  <div class="side-nav__title text-center mat-elevation-z4">
    <div>
      <h3>Exam Objectives</h3>
    </div>
    <div class="text-center my-3">
      <button (click)="closeMenu()" mat-raised-button color="accent">Close Menu</button>
    </div>
  </div>
  <ul class="sections mt-1">
    <li *ngFor="let section of sections" class="section">
      <a (click)="sectionClicked(section)" href="#">
        <i [style.background-color]="section.color" class="fa {{section.icon}} fa-3x" aria-hidden="true"></i>
        {{section.title}}
      </a>
    </li>
  </ul>
</div>
