/** DEFAULT STYLES **/

img {
    height: 120px;
}
h3 {
  padding: 0;
  margin: 0;
}

.side-nav {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.side-nav__title {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  .side-nav__logo {
    flex: 1;
    img {
      margin-left: 47px;
    }
  }
  .side-nav__close {
    margin-right: 10px;
    font-size: 2.3rem;
  }
}

.section a {
  cursor: pointer;
  border-bottom: 1px solid #BDBDBD;
  color: #212121;
  font-weight: bold;
  height: 90px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-gap: 15px;
  align-items: center;
  i {
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sections {
  padding-bottom: 10px;
  height: 330px;
  overflow: auto;
}

@media (orientation: landscape) {
  .side-nav__title {
  }
  .sections {
    max-height: 180px;
  }
}
