
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.desktop-nav {
    margin: 50px 0 10px 0;
}

.sections {
    display: flex;
    justify-content: center;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: none;
        opacity: .5;
        cursor: pointer;
        width: 125px;
        height: 100px;
        transition: all .5s;
    }
    i {
        font-size: 3.3rem;
        color: #fff;
    }
}

.sections li:first-child a {
    border-top-left-radius: 8px;
}

.sections li:last-child a {
    border-top-right-radius: 8px;
}


.sections {
    a.active {
        position: relative;
        transform: scale(1.2, 1.2);
        z-index: 1;
        opacity: 1 !important;
    }
}