<div class="subsections">
  <ul *ngFor="let bullets of subsectionBullets" class="objectives-list">
    <!-- Uses pipe to iterate over keys -->
    <li *ngFor="let bullet of bullets | keys">
      {{bullet}}
      <!-- prevent generation of sublist of array is empty -->
      <ul *ngIf="bullets[bullet].length !== 0">
        <li *ngFor="let subbullet of bullets[bullet]">{{subbullet}}</li>
      </ul>
    </li>
  </ul>
  <div *ngIf="sectionLinks.length" class="link-btn">
    <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">Professor Messer Links</button>
  </div>
  <mat-menu #menu="matMenu">
    <a *ngFor="let sectionLink of sectionLinks" href="{{sectionLink.link}}" mat-menu-item>{{sectionLink.title}}</a>
  </mat-menu>
</div>
<hr>
