hr {
    display: none
}

@media (min-width: 768px) {
    ul {
        display: grid;
        grid-column-gap: 5px;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
    li {
        padding: 2px;
    }
    .subsections > ul > li > ul {
        padding-left: 30px;
    }

    .subsections > ul > li > ul > li:nth-child(odd) {
        margin-left: -16px;
    }

    .subsections > ul > li > ul > li:nth-child(even) {
        margin-left: 6px;
    }
    .link-btn {
        text-align: center;
    }

    hr {
        display: block;
    }
}

@media (min-width: 992px) {
    
}