/** Hidden on mobile **/
app-desktop-nav {
  display: none;
}

.main {
  margin: 90px 0 30px 0;
}

@media (min-width: 768px) {
  app-desktop-nav {
    display: block;
  }
  .main {
    margin: 110px 0 30px 0;
  }
}
