
.current {
    margin: 40px 0 15px 0;
    .icon-container {
        color: #fff;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin: auto;
        max-width: 170px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .current__title {
        margin-top: 8px;
        font-size: 2.2rem;
        font-weight: 400;
    }
}

.desktop {
    display: none;
}

@media (min-width: 768px) {
    .current {
        .icon-container {
            display: none;
        }
        .current__title {
            font-size: 3.0rem;
        }
    }
    app-section-mobile-dropdown {
        display: none;
    }
    .desktop {
        display: block;
    }
}