<div *ngIf="section" class="container">
  <!-- Current Section Header -->
  <div class="current">

    <!-- Icon -->
    <div [style.background-color]="section.color" class="icon-container">
      <i class="fa {{section.icon}} fa-4x" aria-hidden="true"></i>
    </div>
    <!-- /Icon -->

    <!-- Title -->
    <div class="text-center">
      <h3 [style.color]="section.color" class="display-3 current__title">{{section.title}}</h3>
    </div>
    <!-- /Title -->

  </div>
  <!-- /Current Section Header -->
  <hr>

  <!-- Objective -->
  <div class="objective my-3" *ngFor="let subsection of section.subsections">

    <app-section-mobile-dropdown [section]="section" [subsection]="subsection">
    </app-section-mobile-dropdown>

  </div>
  <!-- /Objective -->
</div>
