<div *ngIf="section" class="container">
  <!-- Current Section Header -->
  <div class="current">

    <!-- Icon -->
    <div [style.background-color]="section.color" class="icon-container">
      <i class="fa {{section.icon}} fa-4x" aria-hidden="true"></i>
    </div>
    <!-- /Icon -->

    <!-- Title -->
    <div class="text-center">
      <h3 [style.color]="section.color" class="display-3 current__title">{{section.title}}</h3>
    </div>
    <!-- /Title -->

  </div>
  <!-- /Current Section Header -->
  <hr>

  <!-- Objective -->
  <div class="objective my-3" *ngFor="let subsection of section.subsections">

    <!-- Hidden with CSS at min-width: 768px -->
    <app-section-mobile-dropdown [section]="section" [subsection]="subsection">
    </app-section-mobile-dropdown>

    <!-- Initially hidden with CSS until min-width: 768px -->
    <div class="desktop">
      <app-section-title 
      [sectionColor]="section.color"
      [subsectionNumber]="subsection.subNum"
      [subsectionTitle]="subsection.subTitle">
      </app-section-title>
      <app-section-list [sectionLinks]="subsection.links" [subsectionBullets]="subsection.bullets"></app-section-list>
    </div>



  </div>
  <!-- /Objective -->
</div>
